.App {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}


.App-header {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  /* min-height: 100vh; */
  height: 48px;
  padding: 8px 13px;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #87fb61;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
