* {
  font-family: Oxygen;
  box-sizing: border-box;
}

body {
  min-width: 620px;
}
.App {
  /* display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [contentStart] 348px [contentEnd gridStart] auto [gridEnd];
  grid-template-areas:
    "contentArea"
    "gridArea"; */

  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  font-family: 'Oxygen', sans-serif;
  background-color: transparent;
}

.AppHeader {
  position: absolute;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  /* min-height: 100vh; */
  height: 48px;
  width: 100vw;
  background-color: transparent;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 2;
}

.MainInput {
  display: block;
  width: 320px;
  height: 32px;
  border-radius: 16px;
  padding: 0 21px;
  margin-top: 5px;

  font-size: 13px;
  background-color: rgba(255, 255, 255, 1);
  -webkit-backdrop-filter: blur(13);
  border: none;
  box-sizing: border-box;

}

.MainInput::placeholder {
  text-align: left;
  font-weight: 600;
  color: rgba(0,0,0,0.55);
  letter-spacing: 0;
  line-height: 16px;
}

.Content {
  display: flex;
  width: 100vw;
  min-height: 320px;
  overflow: hidden;
  /* background-color: blueviolet; */
  align-items: stretch;
  flex-shrink: 0;

}

.SmartBg {
  position: relative;
  user-select: none;
  align-items: stretch;
  object-fit: cover;
}

/* Thumbnail sets the contents height */
.Thumbnail {
  display: block;
  user-select: none; 
  width: 100vw;
  height: auto;
  z-index: -1;
}

.ImageFader {
  position: absolute;
  width: 100vw;
  height: 100%;
}

.fadeBoth {
  background-image: 
    linear-gradient(
      -180deg,
       rgba(0,0,0,0.30) 0%,
       rgba(0,0,0,0.19) 13%,
       rgba(0,0,0,0.12) 24%,
       rgba(0,0,0,0.07) 34%,
       rgba(0,0,0,0.04) 40%,
       rgba(0,0,0,0.07) 47%,
       rgba(0,0,0,0.12) 54%,
       rgba(0,0,0,0.19) 62%,
       rgba(0,0,0,0.30) 74%,
       rgba(0,0,0,0.49) 100%);
    }



.Grid {
  padding-top: 55px;
  position: relative;
  display: grid;
  width: 100vw;
  height: fit-content;
  background-color: #FFF;
  overflow: scroll;
  padding-bottom: 56px;

}

#GridHeader {
  position: fixed;
  display: block;
  width: 100vw;
  height: 48px;
  box-sizing: border-box;
  background-color: #FFF;
  z-index: 2;
}

.GridItem {
  width: 100%;
  height: 36px;
  background-color: #F2F2F2;
  border-radius: 8px;
  box-sizing: border-box;
}

.GridItem:nth-child(odd) {
  background-color: #FFF;
}